/*  */

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@function rem($size) {
    @return $size / 16 * 1rem;
}

/* ЧАСТО ИСПОЛЬЗУЕМЫЕ ПЕРЕМЕННЫЕ */


/* ЧАСТО ИСПОЛЬЗУЕМЫЕ ПЕРЕМЕННЫЕ */


.cell-white {
    background: white;
}

:root {
    --ggs: 0.75;
}


.container {
    max-width    : 90vw;
    margin-left  : auto;
    margin-right : auto;
    padding-left : 20px;
    padding-right: 20px;

}



body {
    box-sizing      : border-box;
    font-family     : Montserrat;
    font-size       : 1rem;
    background-color: #121212;
    color           : white;
}



a {
    text-decoration: none;
    color          : white;
}


img {
    max-width: 100%;
    height   : auto;
}








/* HEADER */

.header {
    width : 100%;
    height: rem(80);

    &__inner {
        display    : flex;
        align-items: center;
        height     : 100%;
        gap        : 1rem;
    }


    &__logo {
        width: 35%;
    }
}


/* HEADER */



/* SECTIONS */



.title {
    font-style : normal;
    font-weight: 600;
    font-size  : rem(20);
}




.select-game {
    width   : 100%;
    height          : 3rem;
    position: fixed;
    bottom  : 2rem;
    left    : 0;

    &__inner {
        height: 100%;
        padding         : 0px 0.5rem;
        background-color: #242424;
        font-size       : 0.6rem;
        align-items     : center;
        justify-content : center;
    }

    &__list {
        display        : flex;
        justify-content: space-between;
        height         : 100%;
    }

    &__item {
        padding    : 0px 0.5rem;
        height     : 100%;
        display    : flex;
        align-items: center;
        gap        : 0.5rem;
    }

    &__icon {}

    &__name {}
}

.container {}

.gg-link {}

.gg-laptop {}

.gg-arrows-exchange {}



.game {
    margin: 1rem 0px 0px 0px;

    &__inner {
        display        : flex;
        justify-content: space-between;
    }

    &__board {
        width  : 220px;
        height : 220px;
        display: grid;

        grid-template-columns: repeat(10, 1fr);
        grid-template-rows   : repeat(10, 1fr);

    }

    &__select-ship {}


    &__ship {
        background-color: white;
        width           : 88px;
        height          : 22px;
    }

    &__cell {
        border: 1px solid #242424;
    }



}


.start-game {
    width   : 100%;
    height: 2rem;
    position: fixed;
    bottom  : 0;
    left    : 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        font-weight: 600;
        color: black;
        font-size: 0.75rem;
    }

}