/*  */

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@function rem($size) {
    @return $size / 16 * 1rem;
}

/* ЧАСТО ИСПОЛЬЗУЕМЫЕ ПЕРЕМЕННЫЕ */


/* ЧАСТО ИСПОЛЬЗУЕМЫЕ ПЕРЕМЕННЫЕ */


.cell-white {
    background: white;
}

:root {
    --ggs: 1;
}


.container {
    max-width   : 90vw;
    margin-left : auto;
    margin-right: auto;
    padding     : 0px 20px;
}



body {
    box-sizing      : border-box;
    font-family     : Montserrat;
    font-size       : 1rem;
    background-color: #232323;
    color           : white;
}



a {
    text-decoration: none;
    color          : white;
}


img {
    max-width: 100%;
    height   : auto;
}








/* HEADER */

.header {
    width : 100%;
    height: rem(100);
    border-bottom: 1px solid #5F5F5F;

    &__inner {
        display    : flex;
        align-items: center;
        height     : 100%;
        gap: 3rem;
    }



    &__logo {
        width: 160px;
    }


    &__status {
        display: flex;
        gap: rem(10);
        align-items: center;
        .status {

            &__signal {
                width: rem(10);
                height: rem(10);
                border-radius: 100vw;
                background-color: #50B141;
            }

            &__gamers-count {
                font-size: 0.8rem;
            }
        }
    }
}


/* HEADER */



/* SECTIONS */



.game-status {
    margin: 2rem 0px 0px 0px;
    &__inner {}

    &__text {
        display: inline-block;
        padding: rem(12);
        border-radius: rem(10) rem(14);
        background: #343434;
    }
}

.select-game {
    margin: 4rem 0px 0px 0px;
    &__panel {
        background-color: #343434;
        border-radius   : rem(15);
        display         : inline-flex;

    }


    .panel {
        &__item {
            border-radius: rem(15);
            padding      : 1rem;
            display      : flex;
            align-items  : center;
            gap          : 1rem;

            .item {
                &__name {}


                &__icon {}
            }
        }

        &__item:nth-child(1) {
            padding      : 1rem 2rem 1rem 2rem;
            border-radius: rem(15) 0px 0px rem(15);
        }

        &__item:nth-child(2) {
            padding: 1rem 2rem 1rem 2rem;

            border-radius: 0px;
        }

        &__item:nth-child(3) {
            padding: 1rem 2rem 1rem 2rem;

            border-radius: 0px rem(15) rem(15) 0px;
        }


        &__item:hover {
            cursor          : pointer;
            background-color: #404040;
            transition      : background-color 0.5s linear;
        }
    }

}



.game-field {
    &__inner {
        margin               : 1rem 0px 0px 0px;
        width                : 300px;
        height               : 300px;
        display              : grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows   : repeat(10, 1fr);
    }


    &__cell {
        border: 1px solid gray;
    }


    &__cell:nth-child(1) {
        border-radius: rem(15) 0px 0px 0px;
    }

    &__cell:nth-child(100) {
        border-radius: 0px 0px rem(15) 0px;
    }

    &__cell:nth-child(10) {
        border-radius: 0px rem(15) 0px 0px;
    }

    &__cell:nth-child(91) {
        border-radius: 0px 0px 0px rem(15);
    }
}

/* SECTIONS */





/* COMPONENTS */


.card {
    cursor: pointer;
    flex  : 1 0 25%;

    height          : 300px;
    background-color: #343434;
    border-radius   : 15px;
    padding         : rem(20);
    position        : relative;


    &__title {
        position: absolute;
        top     : 280px;
        left    : rem(25);

    }


    &__icon {
        position: absolute;
        top     : 5%;
        left    : rem(20);

    }
}


.card:hover {
    border    : solid 1px gray;
    transition: border ease-in-out 1s;
}


.title {
    font-style : normal;
    font-weight: 600;
    font-size  : rem(20);
}